<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <title>SPEAK UP</title>

  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/3a6781b4ed.js"></script>
  <!-- Latest compiled and minified CSS & JS -->
  <!-- Compiled and minified materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified materialize JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <link rel="stylesheet" href="client/css/main.css" media="screen" title="no title">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="client/js/form.js"></script>
</head>

<body>
{{{body}}}
</body>

</html>
